* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Cabin Condensed', sans-serif;
}

header {
	display: flex;
	align-items: center;
	height: 10vh;
	background-color: rgb(219, 92, 70);
}

.container {

	height: 90vh;
	display:flex;
	justify-content:center;
	align-items:center;
	background:
		url(/FOODHUB/URLToReachResourcesFolder/images/food-delivery-5217579_1280.png)
		no-repeat center center/cover;
}

span {
	font-family: 'Dancing Script', cursive;
	margin-left: 20px;
	font-size:22px;
	font-weight: 600;
	align-items: center;
	padding: 10px;
	color: white;
}

.shipping {
	position:relative;
	width: 50%;
	margin: auto;
	background-color: #f1f1f1;
	border: 1px solid black;
	border-radius: 5px;
	opacity:0.9;
	
	box-shadow:
	  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
	  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
	  0 12.5px 10px rgba(0, 0, 0, 0.06),
	  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
	  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
	  0 100px 80px rgba(0, 0, 0, 0.12)
}

h3 {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.myform {
	display:flex;
	flex-direction:column;
	margin-left:215px;
	padding-bottom: 3vh;
}

.myform input {
	height: 30px;
	width: 250px;
	padding: 10px;
}


#checkout {
	padding-left: 10px;
	padding-right: 10px;
	background-color: #f0c14f;
	margin-top: 5px;
}

.error {
	color: black;
	font-size: 10px;
	background-color: #f1f1f1;
	padding: 0px;
	margin-left:0px;
	font-family: 'Cabin Condensed', sans-serif;
}

@media ( max-width :500px) {
	

	header {
		width: 100%;
	}
	.shipping {
		width: 90%;
		height:90%;
		margin:auto;
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
	}
	.myform {
		display: flex;
		flex-direction: column;
		padding:0px;
		margin-left:0px;
	}
	
	#checkout {
		margin-left: 0px;
		background-color: #f0c14f;
	}
	.error {
		margin-top: 2px;
		padding: 0px;
	}
	.container {
		height: 90vh;
		padding-top: 0px;
	}
}